name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2

    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
        channels: conda-forge

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install --file requirements.txt
        python -m pip install .
        conda install conda-build anaconda-client

    - name: Run tests
      shell: bash -l {0}
      run: |
        pytest

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Upload to Anaconda
      if: github.ref == 'refs/heads/main' && matrix.python-version == 3.9
      shell: bash -l {0}
      run: |
        conda build -q conda-recipe --python=${{ matrix.python-version }} --output-folder bld-dir
        anaconda -t ${{ secrets.ANACONDA_API_TOKEN }} upload bld-dir/**/nb_cron-*.tar.bz2 --force
