name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
    - uses: actions/checkout@v2

    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
        channels: conda-forge

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install --file requirements.txt
        python -m pip install .

    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest --cov=nb_cron --cov-report=xml

    - name: Upload coverage to Coveralls
      if: success()
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and upload conda package
      if: success() && matrix.python-version == '3.9' && github.event_name == 'push'
      shell: bash -l {0}
      run: |
        conda install conda-build anaconda-client
        conda build -q conda-recipe --python=${{ matrix.python-version }} --output-folder bld-dir
        anaconda -t ${{ secrets.CONDA_UPLOAD_TOKEN }} upload bld-dir/**/nb_cron-*.tar.bz2 --force
